{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

  

{% block body %}
    <h1>Task index</h1>
    
    {% if msg == "" %}
     message null
    {% endif %}
    <hr>
    {{ msg }}
    <hr>
        
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>User</th>
                <th>Date</th>
                <th>RefMantis</th>
                <th>Duration</th>
                <th>Type Inter</th>
                <th>Client</th>
                <th>Projet</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.subject }}</td>
                <td>{{ task.user.firstname }}</td>
                <td>{{ task.date ? task.date|date('Y-m-d') : '' }}</td>
                <td>{{ task.refMantis }}</td>
                <td>{{ task.duration }}</td>
                <td>{{ task.typeInter.name }}</td>
                <td>{{ task.client.name }}</td>
                <td>{{ task.project.name }}</td>
                <td>
                    <a href="{{ path('task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('task_new') }}">Create new</a>
{% endblock %}
